.body{
    background-color: #D4D7C7 !important;
}

.content_container{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.card_header{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 1px 1px;
    border-bottom: 1px solid transparent;
}
.card_bid_header{
    margin-left: 20%; 
}

.rotated {
    transition        : 2.5s linear;
    -webkit-transform : rotate(2880deg);
}

#playersView{
    position:relative;
}

.playerBox1{
    background-color: #ABADA0;
    position: relative;
    border-top: 1px solid #ccd6dd;
    border-bottom: 1px solid #ccd6dd;
    border-left: 1px solid #e1e8ed;
    border-right: 1px solid #e1e8ed;
    width: 205;
    height: 140;
    border-width: 5px;
}

.scoreBox1{
    background-color: #ABADA0;
    position: relative;
    border-top: 1px solid #ccd6dd;
    border-bottom: 1px solid #ccd6dd;
    border-left: 1px solid #e1e8ed;
    border-right: 1px solid #e1e8ed;
    width: 205;
    height: 155;
    border-width: 5px;

}

/*.leftText{
    float:left;
}
.rightText{
    float:left;
    text-align: right;
    right: 0px;

}*/

.form{
    display: block;
    margin-top: 0em;
}

.bidfield{

}
.bid-btn{
    width: 55px;
    height: 35px;
}

.game-btn{
    width: 70px;
    height: 72px;
}

input{
    box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0;
    font-size: 6px;
    min-width: 0;
    width: auto;
    display: inline;
    min-height: 25;
}

.playerHolder{
    position: absolute;
}
.scoreHolder{
    position:block;
    float:left;
}

.p-sViewHolder{
    float:left;
}
.round-timer{
	position: relative;
	float:left;
	font-size: 85px;
	font-family: Garamond;
	text-align: center;
	top: 40%;
	display: block;
	height: 105;
	width: 125;
}
.pointDisplay{
    font-size: 38;
    text-align: center;
}

.nameDisplay{
    font-size: 22;
    text-align: center;
}

.footerText{
    font-size: 16;
    font-family: Garamond;
}