.Y {
    position:absolute;
    top: 45vh;
    left: 55vw;
}
.R {
    position:absolute;
    top: 45vh;
    left: 55vw;

}
.G{
    position: absolute;
    top: 45vh;
    left: 55vw;

}
.B{
    position: absolute;
    top: 45vh;
    left: 55vw;

}

#appView{
    position: relative;
    float: left;
}