.Y {
    background: #E8E549;
    position:absolute;
    top: 45vh;
    left: 55vw;
}
.R {
    background: #F21018;
    position:absolute;
    top: 45vh;
    left: 55vw;

}
.G{
    background: #39CC36;
    position: absolute;
    top: 45vh;
    left: 55vw;

}
.B{
    background: #0C11CA;
    position: absolute;
    top: 45vh;
    left: 55vw;

}

#appView{
    position: relative;
    float: left;
}